header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #292F36;
    .header{
        height: 70px;
        @include dflex;
        &__logo{
            @include dflex;
            span{
                text-align: center;
                padding-left: 8px;
                color: #fff;
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
                line-height: 42px;
                text-transform: capitalize;

            }
        }
        &__list{
            @include dflex;
            gap: 32px;
            li{
                a{
                    color: #fff;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    text-transform: capitalize;
                    &:hover{
                        transition: 300ms;
                        color: #12F7D6;
                    }
                }
            }
        }
        form{
            @include dflex;
            background-color: #fff;
            border-radius: 24px;
            padding-right: 16px;
            gap: 8px;
            input{
                padding-left: 10px;
                border: none;
                outline: none;
                height: 32px;
                border-radius: 24px;
            }
            button{
                border: transparent;
                background: transparent;
                svg{
                    background: transparent;
                }
            }
        }
        &__social{
            @include dflex;
            gap: 32px;
        }
    }
}